<div fxFill fxLayout="column" style="padding-top: 25px;">
    <ng-container *ngIf="query$ | async as query">
        <!--  -->
        <ng-template [ngIf]="query.state == 'loading'">
            <div fxFlex fxLayout="row" fxLayoutAlign="center" style="margin-bottom:25px;">
                <mat-spinner color="accent"></mat-spinner>
            </div>
        </ng-template>
        <!-- Error processing this request -->
        <ng-template [ngIf]="query.state == 'error'">
            <div fxFlex fxLayout="row" fxLayoutAlign="center" style="margin-bottom:25px;">
                <p>We are very sorry... {{query.message}}. Maybe try again later? 😱</p>
            </div>
        </ng-template>

        <!--No results found -->
        <ng-template [ngIf]="query.state == 'finished' && query.data?.references.length == 0">
            <div fxFlex fxLayout="row" fxLayoutAlign="center" style="margin-bottom:25px;">
                <p>This query has no results. Maybe try a different one? 🤷‍♂️</p>
            </div>
        </ng-template>

        <ng-template [ngIf]="query.state == 'finished' && query.data?.references.length > 0">
            <div fxFlex fxLayoutAlign="center">
                <p>
                    <span style="color: dimgray;">
                      Found {{query.data?.references.length}} results
                  </span>
                </p>
            </div>
            <div *ngFor="let result of query.data?.references" fxFlex fxLayout="row" style="margin-bottom:25px;">
                <div fxFlex fxLayoutAlign="center">
                    <mat-card class="search-result">
                        <mat-card-content>
                            <div class="search-result-header" fxLayout="column">
                                <h3><a class="search-link" href="{{result.url}}">{{result.tittle}}</a></h3>
                            </div>
                            <div>
                                <mat-label>
                                    Occurrences:
                                    <span> <strong style="font-weight: 600;">{{result.occurrences}}</strong> </span>
                                </mat-label>


                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </ng-template>
    </ng-container>
</div>